<h1>Hi Admin</h1>
<ul>
	<li><%= link_to "Product Manager", admin_product_manager_path %></li>
	<li><%= link_to "Featured Product Manager", admin_featured_product_manager_path %></li>
	<li><%= link_to "Category Manager", admin_category_manager_path %></li>
	<li><%= link_to "Technology Manager", admin_technology_manager_path %></li>
	<li><%= link_to "User Manager", admin_user_manager_path %></li>
</ul>
