<h3> New "Contact Us" Form Submitted. </h3>

<b>Name:</b> <%= @contact.name %><br>

<b>Email:</b> <%= @contact.email %><br>

<b>Phone:</b> <%= @contact.phone %><br>

<b>Contact Time:</b> <%= @contact.contact_time %><br>

<b>Message:</b> <%= @contact.message  %><br>