 <div class="container">
    <div class="col-md-12">
      <%= form_for [:admin, @featured_product] , :html => {:class => "form-horizontal"} do |f| %>
        <%= f.hidden_field :product_id, :value => @product.id %>
        <fieldset>
          <% if @featured_product.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@featured_product.errors.count, "error") %> prohibited this featured_product from being saved:</h2>

              <ul>
              <% @featured_product.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <label class = "control-label"><%= link_to @product.title, @product %></label>
            <div class="controls">
              <% if @product.picture? %>
                <%= image_tag @product.picture.url(:thumb) %>
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :message, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :message, :class => "form-control input-xlarge" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :position, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :position, :class => "form-control input-xlarge" %>
            </div>
          </div>

          <div class="actions">
            <%= f.submit :class => "btn btn-primary" %>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div> <!-- row div -->
