 <div class="container">
    <div class="col-md-12">
    <%= form_for [:admin, @category] , :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
      <% if @category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

          <ul>
          <% @category.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

       <div class="form-group">
        <%= f.label :parent_id, 'Parent Category',:class => "control-label" %>
        <div class="controls">
          <%= f.collection_select :parent_id, Category.order(:title), :id, :title, include_blank: true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :title, 'Name',:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :title, :class => "form-control input-xlarge" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, :class => "control-label" %>
        <div class="controls">
          <%= f.text_area :description, :class => "form-control input-xlarge" %>
        </div>
      </div>

      <% if @category.picture? %>
        <div class="form-group"><label class = "control-label">Current Picture</label><div class="controls"><%= image_tag @category.picture.url(:thumb) %></div></div>
      <% end %>

      <div class="form-group">
        <%= f.label :picture, "Picture",:class => "control-label" %>
        <div class="controls">
          <%= f.file_field :picture%>
        </div>
      </div>

      <% if @category.picture? %>
        <div class="form-group">
          <%= label_tag 'remove_picture', "Remove Picture", class: 'control-label' %>
          <%= check_box_tag(:remove_picture) %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div> <!-- row div -->
